* {
  margin: 0;
  padding: 0;
  border: 1px solid red; }

a {
  text-decoration: none;
  color: #000; }

li {
  list-style-type: none; }

@font-face {
  font-family: lte50336;
  src: url(../fonts/lte50336.ttf); }

@font-face {
  font-family: FuturaLT-Book;
  src: url(../fonts/FuturaLT-Book.ttf); }

@font-face {
  font-family: AvenirLT-Light;
  src: url(../fonts/AvenirLT-Light.ttf); }

header {
  width: 100%;
  height: 106px;
  background: gold; }

header, #logo, #menu, #menu ul, #menu ul li, #logIn, .videoWrap, .whyWe, .wBlock, .haircut, .maleFemale, .bookNow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

#logo {
  font-size: 65px;
  font-family: 'Lobster', cursive;
  width: 30%;
  padding: 0.8% 3% 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

#logo a {
  color: red; }

#menu {
  width: 40%; }

#menu ul {
  width: 100%; }

#logIn, #menu ul li, .bookNow {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

#menu ul li {
  width: 32%;
  font-size: 25px;
  font-family: lte50336;
  font-style: bold; }

#menu ul li:first-child {
  margin-left: 3%; }

#logIn {
  width: 30%;
  font-size: 18px;
  font-family: 'Forum', cursive; }

#logIn img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 10px; }

.videoWrap {
  width: 100%;
  height: -webkit-calc(100vh - 106px);
  height: calc(100vh - 106px);
  background: #ccc;
  position: relative; }

video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%; }

#descBlock {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #FF0000; }

#descBlock div {
  font: normal normal normal 3vw/1.34em FuturaLT-Book, sans-serif;
  font-weight: bold;
  max-width: 980px;
  padding: 6.5% 0 0 0;
  margin: 0 auto; }

.aligment {
  max-width: 980px;
  margin: 0 auto; }

.whyWe {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.whyWe h1 {
  width: 100%;
  text-align: center;
  font-size: 73px;
  font-family: FuturaLT-Book;
  color: #EBB70C;
  font-weight: 100;
  margin-top: 50px; }

.wBlock {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%; }

.wBlock_title {
  height: 115px;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 33px;
  color: #E21C21;
  font-weight: 1000;
  line-height: 1em;
  letter-spacing: 0.03em; }

.wBlock_desc {
  font-family: DINNextW01-Light;
  text-align: center;
  font-size: 22px; }

.ourSevices {
  padding: 150px 0;
  text-align: center; }

.ourSevices h1 {
  padding: 30px 0;
  font-size: 40px;
  font-family: FuturaLT-Book;
  font-weight: 200; }

.ourSevices h3 {
  font-family: 'Dancing Script', cursive;
  font-weight: 100; }

.haircut {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.maleFemale {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
  padding: 5px; }

.maleFemale img {
  width: 100%; }

.maleFemale h2 {
  font-family: FuturaLT-Book;
  font-weight: 200;
  padding: 30px 0; }

.maleFemale h3 {
  color: #2A2A2A;
  font-family: AvenirLT-Light;
  font-weight: 100;
  line-height: 2em;
  height: 100%; }

.maleFemale a {
  border: 1px solid #000;
  width: 142px;
  height: 40px;
  text-align: center;
  line-height: 40px; }

.bookNow {
  padding: 100px 0;
  font-family: AvenirLT-Light;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px; }

#bookNowBtn {
  width: 177px;
  height: 40px;
  background: #FDF733;
  text-align: center;
  line-height: 40px;
  margin-top: 75px;
  font-weight: bold; }

.fSlider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden; }

.fSlider img {
  max-width: 100%; }

.imgBlock {
  position: relative;
  margin: 0 auto; }

.bgr {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(128, 128, 0, 0.5);
  top: 0;
  left: 0; }

@media screen and (max-width: 980px) {
  #logIn {
    margin: 15px 0; }
  #menu ul li:nth-child(2) {
    width: 20%; }
  #menu ul li a {
    border-bottom: 1px solid #000; }
  #menu ul li:first-child {
    margin-left: 0;
    width: 40%; }
  #menu ul li:last-child {
    width: 40%; }
  .whyWe h1 {
    font-size: 58px; }
  #descBlock div {
    padding: 6.5% 0 0 6%; } }

@media screen and (max-width: 840px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  #menu {
    width: 100%; }
  .whyWe h1 {
    font-size: 44px; }
  .wBlock {
    width: 50%;
    margin: 0 auto; }
  .wBlock_title {
    height: 95px; }
  #logIn img {
    margin: 0; }
  #logo {
    width: 100%; }
  #logo a {
    text-align: center;
    width: 100%; }
  #menu ul li a {
    border-bottom: 1px solid #000; } }

@media screen and (max-width: 420px) {
  #descBlock div {
    font: normal normal normal 5vw/1.34em FuturaLT-Book, sans-serif; }
  .wBlock_title {
    font-size: 20px; } }
